<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- Bootstrap v4beta Imports -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <title>{{ resume['details']['given_name'] }} {% if resume['details']['middle_name'] %} {{ resume['details']['middle_name'] }} {% endif %} {{ resume['details']['surname'] }} Resume</title>
    </head>
    <body>
        <div class="container">
            <div class="row" id="name-contact-row">
                <div class="col-12" id="name-contact-col">
                    <h1 align="center">
                        {{ resume['details']['given_name'] }}
                        {% if resume['details']['middle_name'] %}
                            {{ resume['details']['middle_name'] }}
                        {% endif %}
                        {{ resume['details']['surname'] }}
                    </h1>
                    <p align="center">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="{{ resume['contact']['email']}}">{{ resume['contact']['email']}}</a>
                        |
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:{{ resume['contact']['phone'] }}">{{ resume['contact']['phone'] }}</a>
                        |
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <a href="http://www.linkedin.com/in/{{ resume['contact']['linkedin'] }}">LinkedIn</a>
                        |
                        <i class="fab fa-github"></i>
                        <a href="https://github.com/{{ resume['contact']['github'] }}">GitHub</a>
                        |
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <a href="{{ resume['contact']['website'] }}">Personal Website</a>
                        |
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        {{ resume['contact']['location'] }}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row" id="skills-row">
                <div class="col-12" id="skills-col">
                    <h2>
                        <i class="fa fa-wrench" aria-hidden="true"></i>
                        Skills
                    </h2>
                    <ul>
                        {% for skill in resume['skills'] %}
                            <li>
                                <b>{{ skill['type']}}:</b> {{ skill['text'] }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row" id="experience-row">
                <div class="col-12">
                    <h2>
                        <i class="fa fa-code" aria-hidden="true"></i>
                        Experience
                    </h2>
                </div>
                <div class="container" id="experience-details">
                    {% for experience in resume['experience'] %}
                    <div class="row" id="{{ experience['company']}}-title-row">
                        <div class="col-9">
                            <p align="left">
                                <b>{{ experience['company'] }}, {{ experience['title'] }}, {{ experience['location'] }}</b>
                            </p>
                        </div>
                        <div class="col-3">
                            <p align="right">
                                <b>{{ experience['timeperiod'] }}</b>
                            </p>
                        </div>
                    </div>
                    <div class="row" id="{{ experience['company']}}-data-row">
                        <div class="col-12" id="{{ experience['company']}}-data-col">
                            {{ experience['description'] }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="row" id="education-row">
                <div class="col-12" id="education-title-row">
                    <h2>
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        Education
                    </h2>
                </div>
                <div class="container">
                    {% for edu in resume['education'] %}
                        <div class="row" id="{{ edu['degree'] }}-row">
                            <div class="col-9">
                                <p align="left"><b>{{ edu['degree'] }}</b> ({{ edu['field'] }}), {{ edu['department'] }}, {{ edu['school'] }}, {{ edu['location'] }}</p>
                            </div>
                            <div class="col-3">
                                <p align="right">
                                    <b>{{ edu['timeperiod'] }}</b>
                                </p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <hr>
            <div class="row" id="projects-row">
                <div class="col-12" id="projects-title-row">
                    <h2>
                        <i class="fas fa-project-diagram"></i>
                        Projects
                    </h2>
                </div>
                <div class="container">
                    {% for proj in resume['projects'] %}
                    <div class="row">
                        <div class="col-9">
                            <p align="left">
                                <b>{{ proj['title'] }}</b>
                                {% if proj['institution'] %}
                                    ({{ proj['institution'] }})
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-3">
                            <p align="right"><b>{{ proj['month'] }} {{ proj['year'] }}</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>{{ proj['description'] }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <!-- Boostrap JS imports -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!-- FontAwesome embed -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</html>
