# {{ resume['details']['given_name'] }} {{ resume['details']['middle_name'] }} {{ resume['details']['surname'] }}

This is a PDF export of my resume using a LaTeX template.
For a beautifully-rendered HTML copy,
please visit https://ericmjl.github.io/resume.

## Contact Information

- Phone: {{ resume['contact']['phone'] }}
- Email: {{ resume['contact']['email'] }}
- Website: {{ resume['contact']['website'] }}
- Location: {{ resume['contact']['location'] }}
- GitHub: [{{ resume["contact"]['github'] }}](https://github.com/{{ resume['contact']['github'] }})

## Skills

{% for skill in resume['skills'] %}
- {{ skill['type'] }}: {{ skill['text']|join(", ") }}
{% endfor %}


## Experience

{% for experience in resume['experience'] %}
**{{ experience['company'] }}, {{ experience['title'] }}, {{ experience['location'] }}** ({{ experience['timeperiod'] }})
{{ experience['description'] }}
{% endfor %}


## Education

{% for education in resume['education'] %}
**{{ education['degree'] }}**, {{ education['department'] }}, {{ education['school'] }}, {{ education['location'] }} ({{ education['timeperiod'] }})
{% endfor %}


## Publications

{% for publication in resume['publications']|sort(attribute='year')|reverse %}
- {{ publication['title'] }} *{{ publication['journal'] }}* ({{ publication['year'] }}). [link]({{ publication['url'] }})
{% endfor %}
