<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  </style>
  <link href="{{ url_for('static', filename='nord.css') }}" rel="stylesheet">
  <title>Eric J. Ma's Resume</title>
  <style>
    .bg-nord-light {
      background-color: var(--nord6);
    }

    .bg-green {
      background-color: var(--nord7);
    }

    .bg-yellow {
      background-color: var(--nord13);
    }

    .bg-teal {
      background-color: var(--nord8);
    }

    .box-shadow {
      box-shadow: 0px 0px 20px var(--nord4);
    }

    .headshot {
      max-width: 150px;
      max-height: 150px;
      display: block;
      margin: auto;
    }
  </style>
</head>

<body class="bg-nord-light">
  <div class="container">
    <div id="content">
      <div class="row" id="name-contact-row">
        <div class="col-12 text-center" id="name-contact-col">
          <br>
          <img class="headshot rounded-circle" src="{{ url_for('static', filename='headshot.jpg') }}">
          <br>
          <h1>{{ resume["name"] }}</h1>
          <div class="btn-group" role="group">
            {% for contact in resume["contact"] %}
            <a href="{{ contact['href'] }}" class="btn btn-bg btn-text">
              <i class="fa {{ contact['icon'] }}" aria-hidden="true"></i>
              {{ contact['name'] }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row" id="skills-title-row">
        <div class="col-12" id="skills-title-col">
          <h3 class="text-center">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            Skills
          </h3>
        </div>
      </div>
      <br>
      <div class="row" id="skills-content-row">
        <div class="col-12">
          {% for skill in resume['skills'] %}
          <div class="card box-shadow" id="{{ skill['type']}}-card">
            <div class="row g-0">
              <div class="col-md-3 bg-teal">
                <div class="card-body">
                  <h5 class="card-title text-right">{{ skill['type'] }}</h5>
                </div>
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <small class="text-muted">{{ skill['description'] }}</small>
                  <p class="card-text">{{ skill["items"]|join(", ") }}</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          {% endfor %}
        </div>
      </div>
      <br>
      <br>
      <div class="row" id="experience-title-row">
        <div class="col-12">
          <h3 class="text-center">
            <i class="fa fa-code" aria-hidden="true"></i>
            Experience
          </h3>
        </div>
      </div>
      <br>
      <div class="row" id="experience-content-row">
        <div id="experience-details">
          {% for experience in resume['experience'] %}
          <div class="card box-shadow" id="{{ experience['company']}}-card">
            <div class="row g-0">
              <div class="col-md-3 bg-green">
                <div class="card-body">
                  <h5 class="card-title">{{ experience['title'] }}</h5>
                  <h6>{{ experience['company'] }}</h6>
                  <small class="card-subtitle">{{ experience['timeperiod'] }}, {{ experience['location'] }}
                  </small>
                </div>
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h6>Accomplishments and Responsibilities:</h6>
                  <p class="card-text">{{ experience['description'] }}</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          {% endfor %}
        </div>
      </div>
      <br>
      <br>
      <div class="row" id="education-title-row">
        <div class="col-12" id="education-title-row">
          <h3 class="text-center">
            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            Education
          </h3>
        </div>
      </div>
      <br>
      <div class="row" id="education-content-row">
        <div id="education-details">
          {% for edu in resume["education"] %}
          <div class="card box-shadow">
            <div class="row g-0">
              <div class="col-md-3 bg-yellow" id="title">
                <div class="card-body">
                  <h5>{{ edu["school"] }}</h5>
                  <small>{{ edu["timeperiod"] }}, {{ edu["location"] }}</small>
                </div>
              </div>
              <div class="col-md-9" id="content">
                <div class="card-body">
                  <h5>{{ edu["degree"] }}</h5>
                  <p>{{ edu["department"] }}</p>
                </div>
              </div>
            </div>
          </div>
          <br>
          {% endfor %}
        </div>
      </div>
      <br>
      <br>
      <div class="row" id="publications-title-row">
        <div class="col-12" id="publications-title-row">
          <h3 class="text-center"><i class="fa fa-bookmark"></i> Publications and Preprints</h3>
        </div>
      </div>
      <br>
      <div class="row" id="publications-content-row">
        <div class="col-12" id="publications-content">
          <ul class="list-group" id="publications-list">
            {% for pub in resume['publications']|sort(attribute='year')|reverse %}
            {% if loop.index is divisibleby(2) %}
            <li class="list-group-item">
              {% else %}
            <li class="list-group-item">
              {% endif %}
              <p>{{ pub['title'] }} ({{ pub['year'] }}). <a href="{{ pub['url'] }}"><i>{{ pub['journal'] }}</i></a></p>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <hr>
      <div class="row" id="footer">
        <div class="col-12 text-center">
          <small>
            Made with ❤️ using
            <a href="https://palletsprojects.com/p/flask/">Flask</a>,
            <a href="https://palletsprojects.com/p/jinja/">Jinja2</a>,
            and <a href="https://getbootstrap.com/">Bootstrap 5</a>.
            Source at <a href="https://github.com/ericmjl/resume">GitHub.</a>
            Color theme: <a href="https://nordtheme.com">Nord</a>.
          </small>
          <hr>
        </div>
      </div>
    </div>
  </div>



</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
  integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
  integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<!-- FontAwesome embed -->
<script src="https://use.fontawesome.com/cb9dbe8e41.js"></script>

</html>
